{% extends '@templates/Page.html.twig' %}

{% block content %}
    <link rel="stylesheet" href="/css/Home/home.css">
    <div class="HomeContent">
        <div class="col">
            <div class="intro-text row text-center">
                <h2 class="d-flex pt-5 justify-content-center">Godsplan— Must Ye be born again?</h2>
                <h5 class="hype-text">Channel your inner Kanye and treat these games like you're dropping the next
                    Yeezus
                    album. Compete like you’re about to interrupt someone's acceptance speech with your greatness.
                    Outshine the competition, claim those leaderboards like they're your own Twitter account, and flex
                    on everyone like you just invented a new shoe. It’s your time to rise—will you soar to the top like
                    Yeezy, or will you pull a Kanye and just start your own game entirely?</h5>
            </div>
            <div class="images-container row mt-auto">
                <div class="gray-area w-100" style="background-color: #DBDBDB; height: 20vh;">
                    <div class="honorable-mentions d-block">
                        <h3 class="d-flex p-3 justify-content-center">Honorable Mentions</h3>
                        <div class="row hm-gallery">
                            <div class="col hm-image-container">
                                <p class="hm-text">kanye stare</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/KanyeWestStretched.jpg"
                                     alt="Kanye West Stretched">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">dababy car</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/DababyCar.jpg"
                                     alt="Dababy Car">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">kanye 4 president</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/Kanye4President.jpg"
                                     alt="Kanye 4 President">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">anthony cr7</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/AnthonySuperSubMeme.jpg"
                                     alt="Anthony CR7">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">travis mcdonald ebay</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/TravisScottMcDonalds.jpg"
                                     alt="Travis Scott McDonald's">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">i am not dropping</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/IAmNotDropping.png"
                                     alt="I Am Not Dropping">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">gatorate</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/Gatorate.png"
                                     alt="Gatorate">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">steve beef</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/SteveBeef.jpg"
                                     alt="Steve Beef">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">messi on facetime</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/LionelMessiFacetime.jpg"
                                     alt="Messi on Facetime">
                            </div>
                            <div class="col hm-image-container">
                                <p class="hm-text">mhhmm me hmmhmm me</p>
                                <img class="img-fluid honorable-mention-image" src="/assets/Darius.gif"
                                     alt="Mhhmm me hmmhmm me">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
